@import "normalize";
@import "basscss/basscss";

body {
  margin: 0;
}
.images {
  img {
    display: inline-block;
    max-height: 200px;
    transition: .3s opacity;
  }
}

.images:hover img {
  opacity: 0.5;
}

.images:hover img:hover {
  opacity: 1;
}
